
.card{
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: relative;
    transition: .3s ease;
    cursor: pointer;
    overflow: hidden;
    background: #663399;
    align-self:left;
}


.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .3s ease;
    z-index: 1;
    
}

.name{
    z-index: 10;
    position: absolute;
    transition: .3s ease;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.unFavoriteBtn{
    position: absolute;
    bottom: -60%;
    right: -120%;
    color:white;   
    z-index: 9999;
}

.favoriteBtn{
    bottom: -60%;
    right: -80%;
    z-index: 9999;
    position: absolute;
}

.card:hover{
    box-shadow:
        0px 1px #4c5057,
        0px 2px #4c5057,
        0px 3px #4c5057,
        0px 4px #4c5057,
        0px 5px #4c5057;
    transform: translateY(-7px);
}

.card:hover .unFavoriteBtn{
    right: -80%;
}

.card:hover .bg{
    
}


.nav_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.invited{
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 999;
}