
.card{
    min-width: 350px;
    max-width: 350px;
    max-height: 500px;
    margin: 10px;
    padding: 15px;
    background-color: #ebecf0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .1s ease;
}

.dragCard_left{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 80, 254, 0);
}
.dragCard_right{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
}

.card .create_task, .tasks, .topcard{
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);

}

.card_hovered{
    transform: scale(1.02);
    min-width: 350px;
    max-height: 500px;
    margin: 10px;
    padding: 20px;
    background-color: #ebecf0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .1s ease;
}

.btn_add{
    width: 100%;
    color: black;
}

.create_task{
    height: 40px;
}

.menucard{
    width: 30px;
    height: 30px;
    color: black;
    
}

.topcard{
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-self: center;
}

.nameText{
    cursor: pointer;
}

.tasks{
    z-index: 150;
    overflow-y:auto;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.tasks::-webkit-scrollbar{
    width: 8px;

}
.tasks::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
  }
.tasks::-webkit-scrollbar-thumb {
    background-color: #7e57c2;
    border-radius: 5px;
}


.create_task{
    width: 95%;
    align-self: center;
    height: 30%;
}

.create_task_form{
    display: flex;
    justify-content: space-around;
    
}

.send_icon{
    
}

.create_btn{
    margin: 1%;
}

.create_textfield{
    margin: 1%;
    width: 100%;
}

.task{
    width: 95%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease;
    z-index: 99999;
    position: relative;
    
}

.task:hover{
}

.menu_edit{

}
.task:hover .edit_btn{
    transform: scale(1);
}

.edit_icon{
    
}

.edit_btn{

}


.name_title{
    
}
