
.userCard{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.61);
    padding: 10px;
    margin: 10px;
    width: 350px;
    border-radius: 10px;
    text-align: left;
}

.userCard *{
    margin: 2px;
}

.userCard_inner{
    display: flex;
    align-items: center;
}

.info{
    margin-left: 10px;
}

.input_with_btn{
    align-items: center;
    display: flex;
}

.textFields{
    width: 100%;
    max-height: 50%;
}