

.boardspace{
    min-width: 100vw;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x:visible;
    overflow-y: hidden;
    padding-top: 60px;
}

.bg{
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
    filter:grayscale(20%);
    top: 0;
}

.create{
    position: relative;
    overflow: hidden;
}

.createcard{
    min-width: 350px;
    height: 130px;
    background-color: #ebecf0;
    border-radius: 10px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: -100%;
    transition: .3s ease;
}

.createcardActive{
    top: 0;
}

.btn_new_column_hidden{
    opacity: .2;
}

.cards{
    margin-top: 70px;
    display: flex;
    align-items: baseline;
}


.board_header{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    padding: 7px 0;
    position: fixed;
}

.container{
    width: 1200px;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px;

}

.container_bg{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.board_header_left{
    display: flex;
    justify-content: space-between;
}

.board_header_right{
    position: absolute;
    right: 0;
}

.name_board{
    color: white;
}

.invite_text{
    text-align: center;
}


@media (max-width: 1200px) {
    .container{
        width: 1200px;
    }

}

@media (max-width: 1024px) {
    .container{
        width: 1000px;
    }

}

@media (max-width: 768px) {
    .container{
        width: 100%;
    }

}