.edit_user{
    width: 80vw;
    height: 70vh;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.edit_bg{
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.user_info{
    display: flex;
}

.info{
    display: flex;
    align-items: center;
}

.info_inner{
    display: flex;
    flex-direction: column;
}